<div class="row">
    <div class="tweleve columns"></div>
<h4 class="User">Show how many times the user has been greeted</h4> <a style="font-size:1.2em" href='/greeted'>Back</a>
<h5 class="oneUser">Hello, <span class="high">{{user.names}}</span> has been  greeted <span class="high">{{user.names_counter}}</span> time(s)</h5>

</div>
