<img src="pers.png" alt="">
<div class="row">
    <div class="tweleve columns"></div>
<h4 class="User">Show how many times the user has been greeted</h4> <a href='/'>HOME</a>
<h5 class="oneUser">Hello, <span class="high">{{user.names}}</span> has been  greeted <span class="high">{{user.names_counter}}</span> time(s)</h5>

</div>
