<div style="text-align:center" class="row">
  <div class="twelve columns">
    <img style="text-align:center" src="people.png" alt="">
  </div>
</div>

<br>

<div class="row">
<table class=" tweleve columns" >
  <th> List Of Users Greeted</th>
  {{#each usersGreeted}}
  <tr>
    <td><a href="counter/{{names}}">{{names}}</a></td>
  </tr>
  {{/each}}
</table>
</div>


<div class="error">
  {{messages.error}}
</div>