<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Greetings-Webapp</title>
</head>

<body>

  <div class="row">
    <div  style="text-align: center" class="twelve columns">
      <img src="hello.png" alt="">
      <h1>GREETINGS</h1>
      
    </div>
  </div>

  <div class="row">
    <div class="error">
          {{messages.error}}  
        </div>
    <form action="/greet" method="post">
      <div class=" six columns">
        <input class="greetName" type="text" name="enterName" id="" placeholder="Enter Name">
        
      </div>
      <div class="six columns">
        <span class="counted">Counted:</span><div class="counter">  {{counter}}</div>
      </div>
  </div>
  <br>
  <h4>Select Choice Of Language To Greet</h4>
  <div class=" lang row">
    
    <div class="four columns">
      <input type="radio" name="languageTypeRadio" class="languageTypeRadio" value="english">
      <strong><span class="label-body ">English</span></strong>
    </div>
    <div class="four columns">
      <input type="radio" name="languageTypeRadio" class="languageTypeRadio" value="afrikaans">
      <strong><span class="label-body">Afrikaans</span></strong>
    </div>

    <div class="four columns">
      <input type="radio" name="languageTypeRadio" class="languageTypeRadio" value="sotho">
      <strong><span class="label-body">Sesotho</span></strong>
    </div>
  </div>
  <br>
  <div class="ten columns">  <button  type="submit" class="do">Greet</button>  </div>
  </form>
 <br>
  
  <div class="row final ">
    <div class="five columns">
 <a href="/greeted"><button class="button-primary">Greeted</button></a>
</div>
    <div class="six columns">
 <form action="/clearTableData" method="POST">
  <button class="cl" type="submit" name="button">clear</button>
 </form>
    </div>

   
  </div>
   <div class="row">
    <strong><div class="displayGreeting ten columns">{{displayGreeting}}</div></strong>
  </div>




</body>

</html>