body{
background-color:  #f9f9f9;
margin-top: 2em;
}

.error{
  text-align: center;
  font-size: 1.5em;
  color:rgb(28, 166, 221);
}

h1{
  text-align: center;
  background: #ffffff;
  padding: 2%;
  box-shadow: 1px 2px 3px #7a7474;
  border:5px solid #43397e
}

.counter{
display: inline;
color: #43397e;
font-size: 2em;
font-weight: bold;
}

.counted{
  font-size: 1.5em;
}

.lang{
  margin-top: 2%;
}

.button.cl{
  background-color: crimson;
}




.box {
  padding: 0.75em;
  border-radius : 0.5em;
  border : 1px solid #ddd;
  height: auto;
  margin-bottom: 1em;
}


h4{
  text-align: center;
  

}

.do{
  background: green;
  color: white;
}

.User{
  text-align: center;
  background: #ffffff;
  padding: 2%;
  box-shadow: 1px 2px 3px #7a7474;
  border:5px solid #43397e
}

.oneUser{
  text-align: center; 
}

.high{
  color: #43397e;
}

h5{
  text-align: center;
}


.greetName {
  color: #000000;
  text-transform: capitalize;
};

.users {
  text-transform: capitalize;
}

.displayGreeting{
  text-align: center;
  font-size: 2em;
}

.ten{
  text-align: center;
}

.final{
  text-align: center;
}

.cl{
  background: crimson;
  color: white;
}

.allUsers{
  text-align: center;
}

.allUsers a{
  font-size: 1.5em;
}

th, td {
  text-align: center
}